.image-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Space between images */
  }
  
  .gallery-item {
    flex: 1;
    min-width: calc(33.333% - 10px); /* Adjust based on the number of images per row */
    box-sizing: border-box;
  }
  
  .gallery-item img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  
  .inline-form {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: flex-start;
    width: 100%; /* Full width to occupy table cell */
    margin-bottom: 0;
    padding: 0;
    box-shadow: none;
    max-width: 100%;
  }

  .p-button-label{
    margin: 0;
  }