<div class="row">
  <div class="col-md-6">
    <div class="card">
      <p-table
        [value]="active_bookings"
        [paginator]="true"
        [rows]="activeBooking_limit"
        [totalRecords]="activeBooking_number_of_bookings"
        [lazy]="true"
        [showCurrentPageReport]="true"
        [tableStyle]="{ 'min-width': '50rem' }"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        (onLazyLoad)="pageChange($event, 'active')"
      >
        <ng-template pTemplate="caption"> Active bookings</ng-template>

        <ng-template pTemplate="header">
          <tr>
            <th style="width: 25%">Booking Date</th>
            <th style="width: 25%">Start Date</th>
            <th style="width: 25%">Firm</th>
            <th style="width: 25%">Services</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-activeBooking let-i="rowIndex">
          <tr>
            <td>{{ activeBooking.bookingDate }}</td>
            <td>{{ activeBooking.startDate }}</td>
            <td>{{ activeBooking.firm }}</td>
            <td>
              <p *ngFor="let service of activeBooking.services">
                {{ service.name }}
              </p>
            </td>
            <td *ngIf="canCancelBooking(i)">
              <button
                pButton
                label="Cancel booking"
                class="p-button-danger mt-2"
                style="text-wrap: nowrap"
                (click)="cancelBooking(i)"
              ></button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card">
      <p-table
        [value]="archived_bookings"
        [paginator]="true"
        [rows]="archivedBooking_limit"
        [totalRecords]="archivedBooking_number_of_bookings"
        [lazy]="true"
        [showCurrentPageReport]="true"
        [tableStyle]="{ 'min-width': '50rem' }"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        (onLazyLoad)="pageChange($event, 'archived')"
      >
        <ng-template pTemplate="caption"> Archived bookings</ng-template>

        <ng-template pTemplate="header">
          <tr>
            <th style="width: 15%">Finish Date</th>
            <th style="width: 15%">Firm</th>
            <th style="width: 45%">Review</th>
            <th style="width: 15%">Rating</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-archivedBooking let-i="rowIndex">
          <tr>
            <td>{{ archivedBooking.finishDate }}</td>
            <td>{{ archivedBooking.firm }}</td>
            <td *ngIf="canComment(i)">
              <form
                [formGroup]="commentForm"
                (ngSubmit)="review(i)"
                class="inline-form"
              >
                <textarea
                  rows="2"
                  pInputTextarea
                  formControlName="text"
                ></textarea>
                <button
                  pButton
                  type="submit"
                  label="Review"
                  class="p-button-success mt-2"
                  [disabled]="commentForm.invalid"
                ></button>
              </form>
            </td>
            <td *ngIf="!canComment(i)">{{ comments[i].text }}</td>
            <td>
              <p-rating
                [(ngModel)]="archivedBooking.rating"
                [disabled]="!canRate(i)"
                [cancel]="false"
                (onRate)="handleRatingClick($event, i)"
              >
                >
              </p-rating>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
