  <body> 
    <!-- Header -->
    <header class="bg-primary text-white py-3">
      <h1>Garden Scaping</h1>
    </header>

    <!-- Main Content -->
    <main
      class="container d-flex flex-column justify-content-center align-items-center"
    >
    <div class="row">
      <div class="col-md-12">
        <form (ngSubmit)="onSubmit()" [formGroup]="changePasswordForm">
          <div class="mb-3">
            <span class="p-float-label">
              <input
                id="username"
                type="text"
                pInputText
                formControlName="username"
                placeholder=""
              />
              <label
                for="username"
                *ngIf="!username?.invalid || !username?.touched"
                >Username</label
              >
              <small
                class="p-error"
                *ngIf="username?.invalid && username?.touched"
                >Username is required.</small
              >
            </span>
          </div>

          <div class="mb-3">
            <span class="p-float-label">
              <input
                id="newPassword"
                type="password"
                pPassword
                formControlName="newPassword"
                placeholder=""
              />
              <label
                for="newPassword"
                *ngIf="!newPassword?.invalid || !newPassword?.touched"
                >New password</label
              >
              <small
                class="p-error"
                *ngIf="newPassword?.invalid && newPassword?.touched"
                >New password is required.</small
              >
            </span>
          </div>

          <div class="mb-3">
            <span class="p-float-label">
              <input
                id="newPasswordRepeat"
                type="password"
                pPassword
                formControlName="newPasswordRepeat"
                placeholder=""
              />
              <label
                for="newPasswordRepeat"
                *ngIf="!newPasswordRepeat?.invalid || !newPasswordRepeat?.touched"
                >Repeat new password</label
              >
              <small
                class="p-error"
                *ngIf="newPassword?.valid && newPasswordRepeat?.invalid && newPasswordRepeat?.touched"
                >Repeating new password is required.</small
              >
            </span>
          </div>

          <div class="row">
            <div class="col-md-12">
              <button
                pButton
                type="submit"
                label="Change password"
                severity="contrast"
                [disabled]="changePasswordForm.invalid"
              ></button>
            </div>
          </div>
        </form>
      </div>
    </div>
    </main>

    <!-- Footer -->
    <footer class="bg-dark text-white py-3 mt-4">
      <p>&copy; 2024 Marko Jovanovic</p>
    </footer>
  </body>