    <main class="container-fluid d-flex flex-column justify-content-start">

            <!-- Table row -->
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <p-table
                            [value]="firms"
                            [paginator]="true"
                            [rows]="limit"
                            [totalRecords]="number_of_firms"
                            [lazy]="true"
                            [showCurrentPageReport]="true"
                            [tableStyle]="{ 'table-layout': 'fixed', 'min-width': '50rem' }"
                            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                            (onPage)="pageChange($event)"
                            (onSort)="sortChange($event)"
                        >
                        <ng-template pTemplate="caption">
                            <form
                              [formGroup]="searchForm"
                              (ngSubmit)="search()"
                              class="inline-form"
                            >
            
                            <div class="row">
                              <div class="col-md-4">
                                <span class="p-input-icon-left ml-auto">
                                  <input
                                    formControlName="name"
                                    pInputText
                                    type="text"
                                    placeholder="Firm name"
                                  />
                                </span>
                              </div>
                              <div class="col-md-4">
                                <span class="p-input-icon-left ml-auto">
                                  <input
                                    formControlName="address"
                                    pInputText
                                    type="text"
                                    placeholder="Street number, City"
                                  />
                                </span>
                              </div>
                              <div class="col-md-4">
                                <button
                                pButton
                                type="submit"
                                label="Search"
                                class="p-button-secondary mt-2"
                              ></button>
                              </div>
            
                            </div>
                              
                              
                             
                            </form>
                          </ng-template>
                        
                            <ng-template pTemplate="header">
                                <tr>
                                    <th pSortableColumn="name">
                                        Name
                                        <p-sortIcon field="name"></p-sortIcon>
                                    </th>
                                    <th pSortableColumn="address">
                                        Address
                                        <p-sortIcon field="address"></p-sortIcon>
                                    </th>
                                    <th>
                                        Rating
                                    </th>
                                </tr>
                            </ng-template>
                        
                            <ng-template pTemplate="body" let-firm>
                                <tr>
                                    <td><a routerLink="/owner/firmInfo" (click)="onLinkClick(firm)"> {{ firm.name }}</a></td>
                                    <td>
                                        {{ firm.address.street }} {{ firm.address.number }},
                                        {{ firm.address.city }}
                                    </td>
                                    <td>
                                        <p-rating
                                            [(ngModel)]="firm.rating"
                                            [readonly]="true"
                                            [cancel]="false"
                                        ></p-rating>
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>

                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12"></div>
            </div>
    </main>