<div class="row">
 <div class="col-md-4">
  <p-chart type="bar" [data]="byMonthChartData" [options]="byMonthChartOptions" styleClass="p-mb-4" id="chart1"></p-chart>
 </div>
 <div class="col-md-4">
  <p-chart type="pie" [data]="byDecoratorInFirmData" [options]="byDecoratorInFirmOptions" styleClass="p-mb-4" id="chart2"></p-chart>
 </div>
 <div class="col-md-4">
  <p-chart type="bar" [data]="averagePerDayData" [options]="averagePerDatOptions" styleClass="p-mb-4" id="chart3"></p-chart>
 </div>
  
</div>

