<div class="row">
  <div class="col-md-12">
    <p-chart type="bar" [data]="byMonthChartData" [options]="byMonthChartOptions" styleClass="p-mb-4"></p-chart>
  </div>
  
</div>
<div class="row">
  <div class="col-md-12">
    <p-chart type="pie" [data]="byDecoratorInFirmData" [options]="byDecoratorInFirmOptions" styleClass="p-mb-4"></p-chart>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <p-chart type="bar" [data]="averagePerDayData" [options]="averagePerDatOptions" styleClass="p-mb-4"></p-chart>
  </div>
  
</div>

